html, body {
    height: 100%;
    width: 100%;
    background: white;
  }

li {
    float: left;
    list-style: none;
    font-family: lato;
    font-size: 18px;
    font-style: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: lato;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

}

li a:hover, li a:focus {
    background-color: #003cff;
    color: white;
    border-radius: 5px;
}

input[type=text] {
    width: 250px;
    padding: 12px 16px;
    margin-bottom: 15px;
}

input[type=password] {
    width: 250px;
    padding: 12px 16px;
    margin-bottom: 15px;
}

.intro {
    text-align: center;
    font-family: lato;
    font-size: 28px;
    color: black;
    margin-top: 25px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.error {
    font-family: lato;
    font-size: 16px;
    color: #A40000;
    margin-top: -10px;
    margin-bottom: 10px;
}

.content-wrapper {
        padding-bottom: 100px;
}

.btn-danger {
    background-color: #b21f2d;
}